/* fonts */
@font-face {
    font-family: 'grand_hotelregular';
    src: url('/assets/fonts/grandhotel-regular-webfont.eot');
    src: url('/assets/fonts/grandhotel-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/assets/fonts/grandhotel-regular-webfont.svg#grand_hotelregular') format('svg'), 
         url('/assets/fonts/grandhotel-regular-webfont.woff') format('woff'),
         url('/assets/fonts/grandhotel-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'grand_hotelregular';
            src: url('/assets/fonts/grandhotel-regular-webfont.svg#grand_hotelregular');
    }
}

@font-face {
    font-family: 'latohairline';
    src: url('/assets/fonts/lato-hai-webfont.eot');
    src: url('/assets/fonts/lato-hai-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/lato-hai-webfont.svg#latohairline') format('svg'),
         url('/assets/fonts/lato-hai-webfont.woff') format('woff'),
         url('/assets/fonts/lato-hai-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'latohairline';
            src: url('/assets/fonts/lato-hai-webfont.svg#latohairline');
    }
}

/* styles */
html { 
	font-size: 100%; 
	overflow-y: scroll; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

body {
	color: #ffffff;
	background: url(/assets/images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	-o-user-select: none; 
	user-select: none; 
}

h1, h2 {
	margin: 0;
	padding: 0;
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}

h1 { 
	font: 100 92px/1.5 "latohairline";
}

h2 {
	font: normal 31px/1 "grand_hotelregular", cursive;
}

#wrapper {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 200px;
	text-align: center;
}
